<div class="container">
  <div class="row d-flex justify-content-center contenedor text-white">
    <div class="card col-12 col-md-4 col-lg-4"  >
        <img src="assets/img/shoes1.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Officially Licensed Gear</h5>
            <p class="card-text">Men's Los Angeles Angels Nike Red 2022 City Connect Wordmark T-Shirt.</p>
        </div>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div><div class="card col-12 col-md-4 col-lg-4"  >
        <img src="assets/img/shoes2.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Officially Licensed Gear</h5>
            <p class="card-text">Men's Los Angeles Angels Shohei Ohtani Nike Red Name & Number T-Shirt.</p>
        </div>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div><div class="card col-12 col-md-4 col-lg-4" >
        <img src="assets/img/shoes3.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Officially Licensed Gear</h5>
            <p class="card-text">Men's Los Angeles Angels New Era Red 2022 City Lorem ipsum dolor sit..</p>
        </div>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div><div class="card col-12 col-md-4 col-lg-4"  >
        <img src="assets/img/shoes4.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Officially Licensed Gear</h5>
            <p class="card-text">Men's Los Angeles Angels Black Taylor T-Shirt Lorem ipsum dolor sit.</p>
        </div>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div><div class="card col-12 col-md-4 col-lg-4"  >
        <img src="assets/img/shoes5.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Officially Licensed Gear</h5>
            <p class="card-text">
                Men's Los Angeles Angels Nike Black Team Camo Logo T-Shirt..</p>
        </div>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div><div class="card col-12 col-md-4 col-lg-4"  >
        <img src="assets/img/shoes6.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Officially Licensed Gear</h5>
            <p class="card-text">Men's Los Angeles Angels Fanatics Branded Black St Shoes.</p>
        </div>
        <div class="card-body">
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</div>

</div>
