<div class="container">
    <div class="row d-flex justify-content-center contenedor text-white">
        <div *ngFor="let producto of gorras" class="card col-12 col-md-4 col-lg-4">
            <img [src]="producto.imagen" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{producto.nombre}}</h5>
                <p class="card-text">{{producto.info}}</p>
                <p class="card-text">{{producto.precio | currency}}</p>
            </div>
            <div class="card-body">
                <button type="button" class="btn btn-primary" (click)="productService.anadirCarrito(producto)" >Añadir a carrito</button>
            </div>
        </div>
    </div>
</div>
